<a href="https://colab.research.google.com/github/hscrown/bigdata/blob/main/%EA%B8%B0%EC%B6%9C%EB%AC%B8%EC%A0%9C6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제1유형
1. 이동시간(출동시간과 도착시간의 차이)이 평균적으로 가장 오래걸린 구급대의 이동시간을 구하시오.(분단위로 환산 및 반올림하여 정수로 출력)

In [1]:
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv")
df

     구급대                 출동시간                 도착시간
0   구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1   구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2   구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3   구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4   구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21
..   ...                  ...                  ...
95  구급대3  2020-07-06 06:12:27  2020-07-06 06:50:09
96  구급대6  2020-07-17 06:12:02  2020-07-17 06:16:49
97  구급대7  2020-07-12 06:12:22  2020-07-12 07:32:26
98  구급대6  2020-07-08 06:12:05  2020-07-08 06:41:31
99  구급대8  2020-07-10 06:12:16  2020-07-10 06:30:46

[100 rows x 3 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구급대     100 non-null    object
 1   출동시간    100 non-null    object
 2   도착시간    100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [3]:
# 데이터 타입 변경
df['출동시간']=pd.to_datetime(df['출동시간'])
df['도착시간']=pd.to_datetime(df['도착시간'])

In [4]:
# 도착시간과 출동시간의 차이(분)
df['이동시간'] = df['도착시간'] - df['출동시간']
df['이동시간'] = df['이동시간'].dt.total_seconds()/60
print(df)

     구급대                출동시간                도착시간        이동시간
0   구급대8 2020-07-10 06:11:45 2020-07-10 06:52:06   40.350000
1   구급대9 2020-07-13 06:12:21 2020-07-13 07:58:59  106.633333
2   구급대1 2020-07-06 06:12:29 2020-07-06 07:51:55   99.433333
3   구급대5 2020-07-21 06:11:41 2020-07-21 08:08:36  116.916667
4   구급대1 2020-07-29 06:12:00 2020-07-29 07:24:21   72.350000
..   ...                 ...                 ...         ...
95  구급대3 2020-07-06 06:12:27 2020-07-06 06:50:09   37.700000
96  구급대6 2020-07-17 06:12:02 2020-07-17 06:16:49    4.783333
97  구급대7 2020-07-12 06:12:22 2020-07-12 07:32:26   80.066667
98  구급대6 2020-07-08 06:12:05 2020-07-08 06:41:31   29.433333
99  구급대8 2020-07-10 06:12:16 2020-07-10 06:30:46   18.500000

[100 rows x 4 columns]

In [5]:
# 구급대별 이동시간의 평균
group_mean = df.groupby('구급대')[['이동시간']].mean()
print(group_mean)

            이동시간
구급대
구급대1   54.952381
구급대10  42.365000
구급대2   60.228571
구급대3   43.490741
구급대4   49.136667
구급대5   61.250000
구급대6   41.764583
구급대7   83.337037
구급대8   42.693750
구급대9   80.658889

In [6]:
# 이동시간이 가장 큰 값
result = round(group_mean['이동시간'].max())
print(result)

83

2. 주어진 데이터를 이용하여 교수 1인당 맡고 있는 학생 수가 가장 많은 대학교를 찾고 그 대학교의 전체 교수의 수를 구하시오(정수로 출력)

In [7]:
# 데이터 불러오기
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv")
df

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0    대학교1  20   121    72     158    131    77    59
1    대학교2  31   178   139     145    137    63    90
2    대학교3  23   136   139     154    111    91    50
3    대학교4  32    72   136      67     51   133   159
4    대학교5  22    61    73      86     82    55   124
5    대학교6  32   169   172     137    173    59   128
6    대학교7  29   173   183     112    154   134   133
7    대학교8  19   141    81     101    118   151   123
8    대학교9  40   137   145     191     58    96    71
9   대학교10  34   197    93     125    116   181   150
10  대학교11  21   136   139     136    126    54    98
11  대학교12  37    72   113      53    180   118   153
12  대학교13  36   138    65     153    126   139   189
13  대학교14  34    95    89     179    164   131   167
14  대학교15  20    52    84     160     99    55   113
15  대학교16  30   129   191     117     50    77    66
16  대학교17  35   143    72      71    161    52   177
17  대학교18  31    68   187     113     57   133   113
18  대학교19  34    58   140     141    126   149    56
19  대학교20  39    91   131      66     86   146   101
20  대학교21  31    50   156     103    111    51   156
21  대학교22  26   166   178     197    120   136    62
22  대학교23  39    83   156      58    124   139   133
23  대학교24  23    71    94     178    121   157    93
24  대학교25  24    81    55     159    177    83   172
25  대학교26  19    89   127     135    112   124   121
26  대학교27  31   128    66      56     81   195   150
27  대학교28  36    60   170     188     86   133   144
28  대학교29  21    78   113     123    110    82   192
29  대학교30  27   195    63     189     98   129   129
30  대학교31  26    58   168     179    123   198    53
31  대학교32  40   152   138     108     65    64   190
32  대학교33  38   190   136      55     87   128   122
33  대학교34  29   148   108      66    114   122    93
34  대학교35  32   137    86      72     52   124   133
35  대학교36  25   159   104     177     61   158    66
36  대학교37  32   141   158      61     53   177    92
37  대학교38  40    60   141     162    102   111   110
38  대학교39  23    93    62     190    106    66   159
39  대학교40  25    61   121     184     92   185    99
40  대학교41  20    64    88      79    168    73    84
41  대학교42  37    98   152     195    161   186   143
42  대학교43  28   177   169     107    122   185    73
43  대학교44  22    87   106     167    160   101   153
44  대학교45  21   105    72     162     60   186   129
45  대학교46  22   163   189     192    121    99   183
46  대학교47  34    85    51      91     72   134    58
47  대학교48  41    57   103      59     89   184    75
48  대학교49  21   150   158     159     78    65   195
49  대학교50  42    71   102     148     96   157    82

In [8]:
# 전체학생수
df['학생']=df.iloc[:,2:].sum(axis=1)
df

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과   학생
0    대학교1  20   121    72     158    131    77    59  618
1    대학교2  31   178   139     145    137    63    90  752
2    대학교3  23   136   139     154    111    91    50  681
3    대학교4  32    72   136      67     51   133   159  618
4    대학교5  22    61    73      86     82    55   124  481
5    대학교6  32   169   172     137    173    59   128  838
6    대학교7  29   173   183     112    154   134   133  889
7    대학교8  19   141    81     101    118   151   123  715
8    대학교9  40   137   145     191     58    96    71  698
9   대학교10  34   197    93     125    116   181   150  862
10  대학교11  21   136   139     136    126    54    98  689
11  대학교12  37    72   113      53    180   118   153  689
12  대학교13  36   138    65     153    126   139   189  810
13  대학교14  34    95    89     179    164   131   167  825
14  대학교15  20    52    84     160     99    55   113  563
15  대학교16  30   129   191     117     50    77    66  630
16  대학교17  35   143    72      71    161    52   177  676
17  대학교18  31    68   187     113     57   133   113  671
18  대학교19  34    58   140     141    126   149    56  670
19  대학교20  39    91   131      66     86   146   101  621
20  대학교21  31    50   156     103    111    51   156  627
21  대학교22  26   166   178     197    120   136    62  859
22  대학교23  39    83   156      58    124   139   133  693
23  대학교24  23    71    94     178    121   157    93  714
24  대학교25  24    81    55     159    177    83   172  727
25  대학교26  19    89   127     135    112   124   121  708
26  대학교27  31   128    66      56     81   195   150  676
27  대학교28  36    60   170     188     86   133   144  781
28  대학교29  21    78   113     123    110    82   192  698
29  대학교30  27   195    63     189     98   129   129  803
30  대학교31  26    58   168     179    123   198    53  779
31  대학교32  40   152   138     108     65    64   190  717
32  대학교33  38   190   136      55     87   128   122  718
33  대학교34  29   148   108      66    114   122    93  651
34  대학교35  32   137    86      72     52   124   133  604
35  대학교36  25   159   104     177     61   158    66  725
36  대학교37  32   141   158      61     53   177    92  682
37  대학교38  40    60   141     162    102   111   110  686
38  대학교39  23    93    62     190    106    66   159  676
39  대학교40  25    61   121     184     92   185    99  742
40  대학교41  20    64    88      79    168    73    84  556
41  대학교42  37    98   152     195    161   186   143  935
42  대학교43  28   177   169     107    122   185    73  833
43  대학교44  22    87   106     167    160   101   153  774
44  대학교45  21   105    72     162     60   186   129  714
45  대학교46  22   163   189     192    121    99   183  947
46  대학교47  34    85    51      91     72   134    58  491
47  대학교48  41    57   103      59     89   184    75  567
48  대학교49  21   150   158     159     78    65   195  805
49  대학교50  42    71   102     148     96   157    82  656

In [9]:
# 교수 1인당 맡은 학생수
df['교수당학생수']=df['학생']/df['교수']
df

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과   학생     교수당학생수
0    대학교1  20   121    72     158    131    77    59  618  30.900000
1    대학교2  31   178   139     145    137    63    90  752  24.258065
2    대학교3  23   136   139     154    111    91    50  681  29.608696
3    대학교4  32    72   136      67     51   133   159  618  19.312500
4    대학교5  22    61    73      86     82    55   124  481  21.863636
5    대학교6  32   169   172     137    173    59   128  838  26.187500
6    대학교7  29   173   183     112    154   134   133  889  30.655172
7    대학교8  19   141    81     101    118   151   123  715  37.631579
8    대학교9  40   137   145     191     58    96    71  698  17.450000
9   대학교10  34   197    93     125    116   181   150  862  25.352941
10  대학교11  21   136   139     136    126    54    98  689  32.809524
11  대학교12  37    72   113      53    180   118   153  689  18.621622
12  대학교13  36   138    65     153    126   139   189  810  22.500000
13  대학교14  34    95    89     179    164   131   167  825  24.264706
14  대학교15  20    52    84     160     99    55   113  563  28.150000
15  대학교16  30   129   191     117     50    77    66  630  21.000000
16  대학교17  35   143    72      71    161    52   177  676  19.314286
17  대학교18  31    68   187     113     57   133   113  671  21.645161
18  대학교19  34    58   140     141    126   149    56  670  19.705882
19  대학교20  39    91   131      66     86   146   101  621  15.923077
20  대학교21  31    50   156     103    111    51   156  627  20.225806
21  대학교22  26   166   178     197    120   136    62  859  33.038462
22  대학교23  39    83   156      58    124   139   133  693  17.769231
23  대학교24  23    71    94     178    121   157    93  714  31.043478
24  대학교25  24    81    55     159    177    83   172  727  30.291667
25  대학교26  19    89   127     135    112   124   121  708  37.263158
26  대학교27  31   128    66      56     81   195   150  676  21.806452
27  대학교28  36    60   170     188     86   133   144  781  21.694444
28  대학교29  21    78   113     123    110    82   192  698  33.238095
29  대학교30  27   195    63     189     98   129   129  803  29.740741
30  대학교31  26    58   168     179    123   198    53  779  29.961538
31  대학교32  40   152   138     108     65    64   190  717  17.925000
32  대학교33  38   190   136      55     87   128   122  718  18.894737
33  대학교34  29   148   108      66    114   122    93  651  22.448276
34  대학교35  32   137    86      72     52   124   133  604  18.875000
35  대학교36  25   159   104     177     61   158    66  725  29.000000
36  대학교37  32   141   158      61     53   177    92  682  21.312500
37  대학교38  40    60   141     162    102   111   110  686  17.150000
38  대학교39  23    93    62     190    106    66   159  676  29.391304
39  대학교40  25    61   121     184     92   185    99  742  29.680000
40  대학교41  20    64    88      79    168    73    84  556  27.800000
41  대학교42  37    98   152     195    161   186   143  935  25.270270
42  대학교43  28   177   169     107    122   185    73  833  29.750000
43  대학교44  22    87   106     167    160   101   153  774  35.181818
44  대학교45  21   105    72     162     60   186   129  714  34.000000
45  대학교46  22   163   189     192    121    99   183  947  43.045455
46  대학교47  34    85    51      91     72   134    58  491  14.441176
47  대학교48  41    57   103      59     89   184    75  567  13.829268
48  대학교49  21   150   158     159     78    65   195  805  38.333333
49  대학교50  42    71   102     148     96   157    82  656  15.619048

In [10]:
# 가장 큰 값을 가진 대학교 교슈의 수
max_id = df['교수당학생수'].idxmax()
result = int(df.loc[max_id,'교수'])
print(result)

22

3. 주어진데이터를 이용하여 연도별 총 범죄 건수의 월평균 값을 구하고 그 중 가장 큰 값 출력하기(반올림하여 정수로 출력)

In [11]:
# 패키지 임포트
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 불러오기
df=pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv")
df

           날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명
0   2018년 01월    28   127    90    73    33   202   검찰청1
1   2018년 02월    16   137    72    80    30   180   검찰청5
2   2018년 03월    29   140    70    79    34   211   검찰청5
3   2018년 04월    10   140    90    65    31   184   검찰청1
4   2018년 05월    11   138    70    75    35   190   검찰청1
5   2018년 06월    30   128    78    74    34   216   검찰청5
6   2018년 07월    21   128    84    69    31   181   검찰청1
7   2018년 08월    26   120    86    76    33   188   검찰청5
8   2018년 09월    11   117    86    65    33   192   검찰청5
9   2018년 10월    12   117    86    67    28   200   검찰청5
10  2018년 11월    22   103    83    72    33   196   검찰청1
11  2018년 12월    28   124    83    61    27   209   검찰청2
12  2019년 01월    22   102    86    62    28   212   검찰청1
13  2019년 02월    26   138    80    61    31   183   검찰청3
14  2019년 03월    14   129    76    60    29   202   검찰청5
15  2019년 04월    26   142    83    71    33   182   검찰청1
16  2019년 05월    28   131    80    72    28   212   검찰청1
17  2019년 06월    22   104    84    72    34   201   검찰청2
18  2019년 07월    14   134    84    72    32   182   검찰청2
19  2019년 08월    27   101    71    67    31   198   검찰청1
20  2019년 09월    21   108    87    70    33   187   검찰청1
21  2019년 10월    21   114    89    61    32   212   검찰청3
22  2019년 11월    22   134    79    64    35   198   검찰청4
23  2019년 12월    21   142    77    62    35   183   검찰청3
24  2020년 01월    23   140    83    60    26   219   검찰청2
25  2020년 02월    11   111    73    60    31   211   검찰청1
26  2020년 03월    17   125    87    76    25   220   검찰청5
27  2020년 04월    10   112    78    78    28   185   검찰청3
28  2020년 05월    20   122    76    74    30   192   검찰청1
29  2020년 06월    24   139    87    77    29   192   검찰청3
30  2020년 07월    19   107    79    80    30   193   검찰청3
31  2020년 08월    27   124    81    62    29   187   검찰청5
32  2020년 09월    25   108    76    66    28   182   검찰청1
33  2020년 10월    25   134    71    75    33   189   검찰청5
34  2020년 11월    26   122    72    62    31   180   검찰청3
35  2020년 12월    22   104    87    80    31   181   검찰청5
36  2021년 01월    28   102    90    73    33   212   검찰청3
37  2021년 02월    16   173    72    80    50   150   검찰청2
38  2021년 03월    39   120    70    69    34   231   검찰청1
39  2021년 04월    26   122    83    71    33   192   검찰청4
40  2021년 05월    28   111    80    72    28   182   검찰청2
41  2021년 06월   122    94    84    92    34   211   검찰청2
42  2021년 07월    19   117    79    70    30   151   검찰청3
43  2021년 08월    27   131    81    62    29   189   검찰청5
44  2021년 09월    25   113    76    66    38   172   검찰청1
45  2021년 10월    20   115    80    77    33   138   검찰청3
46  2021년 11월    25   149    90    67    33   191   검찰청2
47  2021년 12월    21   116    87    72    38   206   검찰청4
48  2022년 01월    16   104    82    60    25   206   검찰청5
49  2022년 02월    19   145    88    60    30   204   검찰청1
50  2022년 03월    17   144    84    76    34   197   검찰청5
51  2022년 04월    14   150    85    75    31   181   검찰청5
52  2022년 05월    22   119    73    74    34   200   검찰청1
53  2022년 06월    12   131    78    65    30   201   검찰청3
54  2022년 07월    12   116    79    65    31   202   검찰청4
55  2022년 08월    25   129    77    69    33   185   검찰청2
56  2022년 09월    28   107    71    71    32   203   검찰청4
57  2022년 10월    18   130    71    77    30   206   검찰청5
58  2022년 11월    12   140    82    73    32   187   검찰청2
59  2022년 12월    26   106    87    71    28   216   검찰청5

In [12]:
# 총합, 연도 항목 정의
df['총합']=df.iloc[:,1:7].sum(axis=1)
df['연도']=df['날짜'].str[:4]

In [14]:
# 연도별 총합의 월평균 출력
year_mean=df.groupby('연도')['총합'].mean()
print((year_mean))

연도
2018    527.333333
2019    520.500000
2020    514.916667
2021    528.333333
2022    524.416667
Name: 총합, dtype: float64

In [15]:
# 가장 큰 값
result=round(year_mean.max())
print(result)

528

제2유형

In [16]:
# 패키지 임포트
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

# test 데이터 불러오기
test_df=pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv')
print(test_df)

# train 데이터 불러오기
train_df=pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
print(train_df)

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역
0       7.97     7.11          1.2   Tall  51.375   L  1749.3   북구
1       9.80     5.76          1.2  Short  28.710  XS  1749.3   북구
2       7.66     7.38          1.2   Tall  36.915   L  1624.4   남구
3       9.50     5.94          3.0  Short  24.045  XS  1624.4   동구
4       6.44     8.82          3.0   Tall  45.180   S  1499.4   서구
..       ...      ...          ...    ...     ...  ..     ...  ...
225     9.80     5.76          3.0  Short  30.195  XS  1749.3   북구
226     8.58     6.66          4.8  Short  25.875  XS  1249.5   동구
227     8.27     6.84          1.2   Tall  50.460   M  2124.2   남구
228     7.66     7.38          4.8   Tall  48.645   L  1624.4   북구
229     9.80     5.76          4.8  Short  33.375  XS  1749.3   남구

[230 rows x 8 columns]
     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0       7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1       7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2       7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3       8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4       7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생
..       ...      ...          ...    ...     ...  ..     ...  ...   ...
525    10.11     5.58          4.8  Short  25.185  XS  1874.3   동구  초등학생
526     8.27     6.84          1.2   Tall  51.165   M  2124.2   동구  고등학생
527     7.35     7.74          1.2   Tall  40.995   L  1499.4   동구   중학생
528    10.11     5.58          0.0  Short  18.330  XS  1874.3   동구  유치원생
529     6.44     8.82          3.0   Tall  44.535   S  1499.4   동구  고등학생

[530 rows x 9 columns]

In [17]:
# object type 관련 데이터 확인
train_df.info()
train_df.describe(include='object')

# train의 결측치와 학생별 분포 확인
train_df.isnull().sum()
train_df["구분"].value_counts()

# test의 데이터 type과 결측치 확인
test_df.describe(include='object')
test_df.isnull().sum()

# 구분 열을 타켓 값으로 분리 및 구분 제거 데이터 출력
targetVal=train_df.pop('구분')
print(train_df.shape, test_df.shape)

# 인코딩 진행
train_df=pd.get_dummies(train_df)
test_df=pd.get_dummies(test_df)
print(train_df, test_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB
(530, 8) (230, 8)
     일평균수면시간  일평균학습시간  일평균스마트폰사용시간     몸무게   기초대사량  키_Short  키_Tall   체격_L  \
0       7.35     7.74          4.8  52.050  1499.4    False    True   True
1       7.05     8.10          1.2  51.300  1624.4    False    True  False
2       7.35     7.74          3.0  51.285  1499.4    False    True   True
3       8.58     6.66          4.8  25.545  1249.5     True   False  False
4       7.05     8.10          4.8  54.150  1624.4    False    True  False
..       ...      ...          ...     ...     ...      ...     ...    ...
525    10.11     5.58          4.8  25.185  1874.3     True   False  False
526     8.27     6.84          1.2  51.165  2124.2    False    True  False
527     7.35     7.74          1.2  40.995  1499.4    False    True   True
528    10.11     5.58          0.0  18.330  1874.3     True   False  False
529     6.44     8.82          3.0  44.535  1499.4    False    True  False

      체격_M   체격_S  체격_XS  거주지역_남구  거주지역_동구  거주지역_북구  거주지역_서구
0    False  False  False    False     True    False    False
1     True  False  False    False    False    False     True
2    False  False  False    False     True    False    False
3    False  False   True    False    False    False     True
4     True  False  False    False    False    False     True
..     ...    ...    ...      ...      ...      ...      ...
525  False  False   True    False     True    False    False
526   True  False  False    False     True    False    False
527  False  False  False    False     True    False    False
528  False  False   True    False     True    False    False
529  False   True  False    False     True    False    False

[530 rows x 15 columns]      일평균수면시간  일평균학습시간  일평균스마트폰사용시간     몸무게   기초대사량  키_Short  키_Tall   체격_L  \
0       7.97     7.11          1.2  51.375  1749.3    False    True   True
1       9.80     5.76          1.2  28.710  1749.3     True   False  False
2       7.66     7.38          1.2  36.915  1624.4    False    True   True
3       9.50     5.94          3.0  24.045  1624.4     True   False  False
4       6.44     8.82          3.0  45.180  1499.4    False    True  False
..       ...      ...          ...     ...     ...      ...     ...    ...
225     9.80     5.76          3.0  30.195  1749.3     True   False  False
226     8.58     6.66          4.8  25.875  1249.5     True   False  False
227     8.27     6.84          1.2  50.460  2124.2    False    True  False
228     7.66     7.38          4.8  48.645  1624.4    False    True   True
229     9.80     5.76          4.8  33.375  1749.3     True   False  False

      체격_M   체격_S  체격_XS  거주지역_남구  거주지역_동구  거주지역_북구  거주지역_서구
0    False  False  False    False    False     True    False
1    False  False   True    False    False     True    False
2    False  False  False     True    False    False    False
3    False  False   True    False     True    False    False
4    False   True  False    False    False    False     True
..     ...    ...    ...      ...      ...      ...      ...
225  False  False   True    False    False     True    False
226  False  False   True    False     True    False    False
227   True  False  False     True    False    False    False
228  False  False  False    False    False     True    False
229  False  False   True     True    False    False    False

[230 rows x 15 columns]

In [18]:
# 검증용 데이터 분할
from sklearn.model_selection import train_test_split
train_x,validation_x,train_y,validation_y=train_test_split(train_df,targetVal,test_size=0.2,random_state=0)
print(train_x.shape,validation_x.shape,train_y.shape,validation_y.shape)

# 분류 모델 불러오기
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  f1_score

# 분류 모델 생성 및 평가
model=RandomForestClassifier(random_state=0)
model.fit(train_x,train_y)
prediction_val=model.predict(validation_x)
print(f1_score(validation_y,prediction_val,average='macro'))

(424, 15) (106, 15) (424,) (106,)
0.9317983948418732

In [19]:
# 테스트용 데이터를 이용해서 예측
prediction_test=model.predict(test_df)
result=pd.DataFrame(prediction_test)
result.to_csv('result.csv')

3유형

In [20]:
# 1번
# 패키지 임포트
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 생성 및 정의
df=pd.DataFrame({"항암제":['무증상','속쓰림','무증상','무증상','조금아픔','무증상','조금아픔','무증상','조금아픔','무증상','아픔','무증상','조금아픔','무증상','아픔','무증상','속쓰림','무증상','아픔','무증상']})
df

# 무증상 비율 구하기
cnt=df['항암제']=='무증상'
total=len(df['항암제'])
result=(sum(cnt)/total)
print(result)

0.55

In [21]:
# 2
# 항암제 종류별 개수 구하기
df['항암제'].value_counts()

# 통계학적 모델 불러오기
import scipy.stats as stats

# 카이제곱 검정 시행
val1=df['항암제'].value_counts().to_list()
val2=[0.7*total,0.1*total,0.05*total,0.15*total]
statistic,pvalue=stats.chisquare(val1,val2)
print(statistic)

# 검정 통계량 값과 p-value 구하기
stats.chisquare(val1,val2)

6.976190476190475

Power_divergenceResult(statistic=6.976190476190475, pvalue=0.07266054733847582)