<a href="https://colab.research.google.com/github/hscrown/bigdata/blob/main/%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_1%ED%9A%8C_1%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제1유형
1. 주어진 데이터를 이용하여 이동시간(출동시간과 도착시간의 차이)이 평균적으로 가장 오개 걸린 구급대의 이동시간을 구하시오(분 단위로 환산 및 반올림 하여 정수로 출력)

In [4]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv")
print(df)

     구급대                 출동시간                 도착시간
0   구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1   구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2   구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3   구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4   구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21
..   ...                  ...                  ...
95  구급대3  2020-07-06 06:12:27  2020-07-06 06:50:09
96  구급대6  2020-07-17 06:12:02  2020-07-17 06:16:49
97  구급대7  2020-07-12 06:12:22  2020-07-12 07:32:26
98  구급대6  2020-07-08 06:12:05  2020-07-08 06:41:31
99  구급대8  2020-07-10 06:12:16  2020-07-10 06:30:46

[100 rows x 3 columns]

In [5]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구급대     100 non-null    object
 1   출동시간    100 non-null    object
 2   도착시간    100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [6]:
# 데이터 타입 변경
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

In [7]:
# 도착시간과 출동시간의 차이(분)
df['이동시간'] = (df['도착시간'] - df['출동시간']).dt.total_seconds() / 60 # 파이썬에서는 분단위로 바로 구할 수 없다. 초단위로 값을 구하여 60으로 나눔

In [8]:
# 구급대별 이동시간의 평균
group_mean = df.groupby('구급대')['이동시간'].mean()

In [9]:
group_mean

구급대
구급대1     54.952381
구급대10    42.365000
구급대2     60.228571
구급대3     43.490741
구급대4     49.136667
구급대5     61.250000
구급대6     41.764583
구급대7     83.337037
구급대8     42.693750
구급대9     80.658889
Name: 이동시간, dtype: float64

In [10]:
# 이동시간이 가장 큰 값
result = round(group_mean.max())
print(result)

83

2. 주어진 데이터를 이용하여 교수 1인당 맡고 있는 학생수가 가장 많은 대학교를 찾고, 그 대학교의 전체 교수의 수를 구하시오(정수로 출력)

In [12]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv")
print(df.head())

   대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0  대학교1  20   121    72     158    131    77    59
1  대학교2  31   178   139     145    137    63    90
2  대학교3  23   136   139     154    111    91    50
3  대학교4  32    72   136      67     51   133   159
4  대학교5  22    61    73      86     82    55   124

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대학교명    50 non-null     object
 1   교수      50 non-null     int64
 2   경영학과    50 non-null     int64
 3   경제학과    50 non-null     int64
 4   컴퓨터공학과  50 non-null     int64
 5   산업공학과   50 non-null     int64
 6   국문학과    50 non-null     int64
 7   영문학과    50 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.2+ KB

In [14]:
# 전체 학생수 컬럼 구하기
df.columns

Index(['대학교명', '교수', '경영학과', '경제학과', '컴퓨터공학과', '산업공학과', '국문학과', '영문학과'], dtype='object')

In [15]:
df['학생수'] = df['경영학과']+df['경제학과']+df['컴퓨터공학과']+df['산업공학과']+df['국문학과']+df['영문학과']

In [16]:
# 교수 1인당 학생수
df['교수당 학생수'] = df['학생수'] / df['교수']

In [19]:
# 교수가 제일 많은 대학교
df[df['교수당 학생수'] == df['교수당 학생수'].max()]

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과  학생수    교수당 학생수
45  대학교46  22   163   189     192    121    99   183  947  43.045455

In [20]:
# 그 학교의 교수 수
result=df[df['교수당 학생수'] == df['교수당 학생수'].max()]['교수'].values[0]
print(result)

22

3. 주어진 데이터를 이용하여 연도별 총 범죄 건수의 월평균 값을 구하고, 그 중 가장 큰 값을 출력하시오(반올림하여 정수로 출력)

In [21]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv")
print(df.head())

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명
0  2018년 01월    28   127    90    73    33   202   검찰청1
1  2018년 02월    16   137    72    80    30   180   검찰청5
2  2018년 03월    29   140    70    79    34   211   검찰청5
3  2018년 04월    10   140    90    65    31   184   검찰청1
4  2018년 05월    11   138    70    75    35   190   검찰청1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      60 non-null     object
 1   폭력범죄    60 non-null     int64
 2   지능범죄    60 non-null     int64
 3   교통범죄    60 non-null     int64
 4   절도범죄    60 non-null     int64
 5   경제범죄    60 non-null     int64
 6   정치범죄    60 non-null     int64
 7   주요검찰청명  60 non-null     object
dtypes: int64(6), object(2)
memory usage: 3.9+ KB

In [24]:
# 월별 총 범죄 건수
df['총범죄건수'] = df.iloc[:,1:-1].sum(axis=1)
print(df.head())

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명  총범죄건수
0  2018년 01월    28   127    90    73    33   202   검찰청1    553
1  2018년 02월    16   137    72    80    30   180   검찰청5    515
2  2018년 03월    29   140    70    79    34   211   검찰청5    563
3  2018년 04월    10   140    90    65    31   184   검찰청1    520
4  2018년 05월    11   138    70    75    35   190   검찰청1    519

In [25]:
# 연도 컬럼 생성
df['연도']=df['날짜'].str[:4]
print(df.head())

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명  총범죄건수    연도
0  2018년 01월    28   127    90    73    33   202   검찰청1    553  2018
1  2018년 02월    16   137    72    80    30   180   검찰청5    515  2018
2  2018년 03월    29   140    70    79    34   211   검찰청5    563  2018
3  2018년 04월    10   140    90    65    31   184   검찰청1    520  2018
4  2018년 05월    11   138    70    75    35   190   검찰청1    519  2018

In [26]:
# 연도 별 총 범죄 건수의 평균
group_mean = df.groupby('연도')['총범죄건수'].mean()

In [27]:
group_mean

연도
2018    527.333333
2019    520.500000
2020    514.916667
2021    528.333333
2022    524.416667
Name: 총범죄건수, dtype: float64

In [28]:
# 가장 큰 값
result = round(group_mean.max())
result

528