<a href="https://colab.research.google.com/github/hscrown/bigdata/blob/main/%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC1%ED%9A%8C_2%EC%9C%A0%ED%98%95_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.은행에서 수집한 고객 5000명의 금융정보에 따른 대출여부가 들어있는 참조데이터를 이용하여 대출여부를 분류하는 가장 최적의 이웃의 크기값(k)를 구하고 , 이때 분류 정확도를 산출하시오.

단, 참조데이터는 7:3의 비율로 트레이닝 데이터와 테스트 데이터로 구분하고, 트레이닝 데이터와 데트스 데이터의 대출여부(y)의 비율도 유지한다. 또한 z값을 산출하여 정규화한다.

분석흐름: 데이터 로딩? 데이터 전처리 ? 모델생성? 최적 이웃 수 산출

In [25]:
# 라이브러리 및 데이터 로딩
import numpy as np
import pandas as pd
import sklearn

ploan = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/Bank_Personal_Loan_Modeling.csv")

In [26]:
ploan.shape

(5000, 14)

In [27]:
ploan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [28]:
# 의미없는 변수(ID, ZIP Code)와 결측값 제거
ploan_processed = ploan.dropna().drop(['ID', 'ZIP Code'], axis=1, inplace=False)

In [29]:
print(ploan_processed)

      Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0      25           1      49       4    1.6          1         0
1      45          19      34       3    1.5          1         0
2      39          15      11       1    1.0          1         0
3      35           9     100       1    2.7          2         0
4      35           8      45       4    1.0          2         0
...   ...         ...     ...     ...    ...        ...       ...
4995   29           3      40       1    1.9          3         0
4996   30           4      15       4    0.4          1        85
4997   63          39      24       2    0.3          3         0
4998   65          40      49       3    0.5          2         0
4999   28           4      83       3    0.8          1         0

      Personal Loan  Securities Account  CD Account  Online  CreditCard
0                 0                   1           0       0           0
1                 0                   1           0       0           0
2                 0                   0           0       0           0
3                 0                   0           0       0           0
4                 0                   0           0       0           1
...             ...                 ...         ...     ...         ...
4995              0                   0           0       1           0
4996              0                   0           0       1           0
4997              0                   0           0       0           0
4998              0                   0           0       1           0
4999              0                   0           0       1           1

[5000 rows x 12 columns]

In [32]:
# ploan_processed에서 독립변수, 종속변수 나누기
X = ploan_processed.drop(['Personal Loan'], axis=1)
y = ploan_processed['Personal Loan'] # 대출 여부 1 or 0

In [33]:
# 트레이닝 데이터셋과 테스트 데이터셋을 7:3으로 분리
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y) # 종속변수의 범주간 비율 차이가 크기때문에 계층샘플에 y 입력

In [37]:

# 전처리 수행하는 sklearn 패키지 불러오기

from sklearn.preprocessing import Normalizer
preprocessor = Normalizer() # 정규화 z score

In [38]:
 # 트레이닝 독립변수는 fit_transform() 사용
 X_train = preprocessor.fit_transform(X_train)
 X_test = preprocessor.transform(X_test) # 테스트 독립변수는 transform() 사용

In [39]:
# 모델 생성

from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

training_accuracy = []
test_accuracy = []

# 1에서 25까지 n_neighnors를 적용
neighbors_settings = range(1, 25)

# KNeighborsClassifier()함수에 K개수를입력하여 모델을 만들고 트레이닝 데이터와 테스트 데이터를 적용
for n_neighnors in neighbors_settings:
    # 모델 생성
    clf = KNeighborsClassifier(n_neighbors=n_neighnors)
    clf.fit(X_train, y_train)

    # 훈련세트 정확도 저장
    training_accuracy.append(clf.score(X_train, y_train))

    # 일반화 정확도 저장
    test_accuracy.append(clf.score(X_test, y_test))

In [40]:
# 최적의 이웃 수 산출
test_accuracy # k가 5일때 가장 테스트 정확도가 높다.

[0.9253333333333333,
 0.9193333333333333,
 0.9233333333333333,
 0.9186666666666666,
 0.9206666666666666,
 0.918,
 0.918,
 0.916,
 0.92,
 0.9153333333333333,
 0.92,
 0.9153333333333333,
 0.918,
 0.9146666666666666,
 0.9153333333333333,
 0.914,
 0.9153333333333333,
 0.9113333333333333,
 0.9126666666666666,
 0.912,
 0.9146666666666666,
 0.912,
 0.9166666666666666,
 0.9173333333333333]